​x  body {
   text-align: center;
   margin: 80px auto 0;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
 ​
 .emoji {
   width: 220px;
   height: 220px;
   margin: 15px 15px 40px;
   background: #FFDA6A;
   display: inline-block;
   border-radius: 50%;
   position: relative;
 }
 .emoji:after {
   position: absolute;
   bottom: -40px;
   font-size: 18px;
   width: 60px;
   left: calc(50% - 30px);
   color: #8A8A8A;
